[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
gunicorn = "==20.1.0"
werkzeug = "==3.0.1"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
